In [2]:
#Nazarpour, K; Chen, M (2017): Handwritten Chinese Numbers. Newcastle University. Dataset. https://doi.org/10.17634/137930-3

In [3]:
# 300x300 pixels

# Load Chinese MNIST data

In [4]:
import os

In [23]:
PATH = './data/chinese_mnist/Raw Dataset'

In [24]:
filenames = []
for root, dirs, files in os.walk(PATH, topdown=True):
    filenames = files

In [25]:
len(filenames)

15000

In [27]:
# go through files and

'Locate{54,1,3}.jpg'

In [28]:
filenames[7:10]

['Locate{80,9,7}.jpg', 'Locate{27,10,10}.jpg', 'Locate{18,6,9}.jpg']

In [29]:
import pandas as pd

In [31]:
lookup_df = pd.read_csv('chinese_mnist.csv')

In [36]:
lookup_df[(lookup_df['suite_id']==18)&(lookup_df['sample_id']==6)&(lookup_df['code']==9)]

       suite_id  sample_id  code  value character
14106        18          6     9      8         八

In [37]:
# get labels by going thru values in 'filenames' & getting value in 'code' in lookup_df

In [38]:
# use tf.keras.preprocessing.image_dataset_from_directory() to load image files